body {
  padding: 2em;
  margin: 0;
  background: black center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  color: white;
  font: 1.5em Helvetica, sans-serif;}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  text-shadow: black 0px 0px 7px;}

h1 {
  font-size: 230%;}

h2 {
  font-size: 150%;}

h3 {
  font-size: 100%;
  margin-top: 1ex;
  font-weight: normal;}

p {
  position: absolute;
  bottom: 10px;}

form {
  opacity: .5;}

form:hover {
  opacity: 1;}

input {
  font-size: 1em;
  color: inherit;
  text-decoration: none;
  padding: .2em .3em;
  background: #222;
  color: #aaa;
  -moz-border-radius: .4em;
  -webkit-border-radius: .4em;
  border: .1em solid #222;
  cursor: pointer;}

input:hover {
  border-color: inherit;}

@media (max-width:500px) {
    input {
	font-size: 2em;}
}