body {
  padding: 0 5em;
  margin: 0;
  background: white;
  color: #333;
  font: 1.5em Helvetica, sans-serif;}
input {
  font-size: 1em;
  color: inherit;
  text-decoration: none;
  padding: .2em .3em;
  background: #2b79d4;
  color: #fff;
  -moz-border-radius: .4em;
  -webkit-border-radius: .4em;
  border: .1em solid #2b79d4;
  cursor: pointer;}
input:hover {
  background: #83aedf;
  border-color: #77a1d1;}